@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rubik:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f5f5f5;
}

.contenedor {
    background-color: #48cae4;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    background-color: transparent;
    backdrop-filter: invert(20%);
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.contenedor__icons {
    display: flex;
    gap: 20px;
}

.contenedor__icons a {
    color: #fff;
    font-size: 1.4em;
}

.logo {
    width: 80px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 0;
}

.navegacion a {
    position: relative;
    font-size: .95em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: transform .3s;
}

.navegacion a:hover:after {
    transform: scaleX(1);
}


/* hasta aqui menu*/

.contenedor__titulos {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}


.contenedor__titulos h1 {
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: bolder;
}

.contenedor__titulos h5 {
    font-family: monospace;
    color: blueviolet;
}

.titulos {
    margin-bottom: 20px;
}


.btn1 {
    transition: background-color .5s;
    color: #064d6e;
    text-decoration: none;
    background-color: #ade8f4;
    transition: background-color .5s;
    border-radius: 25px;
    padding: 15px;
    border: none;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    scroll-behavior: smooth;
}

.btn1:hover {
    background-color: #064d6e;
    color: #ade8f4;
}


/*AQUÍ EMPIEZA EL MAIN*/

.container__main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StudyBuddy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    gap: 50px;
}

.StudyBuddy__container img {
    width: 50vh;
    height: 50vh;
    border-radius: 25px;
}

.progress {
    height: 35px;
    width: 70%;
    border: 2px solid #48cae4;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #48cae4;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;

    color: #cce7f5;
}

.comida__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.comida__container input {
    height: 35px;
    width: 30%;
    border: 2px solid #48cae4;
    border-radius: 5px;
    background-color: #e6f3fa;

}





.contenedor__tareas {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 40px;
    width: 50%;
    height: 90%;
    background-color: #48cae4;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}




.texto h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
}

.texto p {
    line-height: 1.5;
    font-weight: 100;
    margin-bottom: 20px;
}



.task__list {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}


.task__list input[type="date"],
.task__list input[type="text"] {
    border: none;
    background-color: #ade8f4;
    padding: 5px;
    border-radius: 10px;
    resize: none;
}

.task__list input[type="date"]:focus,
.task__list input[type="text"]:focus {
    outline: 2px solid rgb(2, 9, 22);
    color: black;
}




.task-list li {
    margin-bottom: 10px;
}

.task-date {
    margin-left: 10px;
    font-size: 12px;
}

/* Estilos para el checkbox */
input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #888;
}


.Button__calendario {
    background-color: #ade8f4;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #064d6e;
    width: 200px;
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    animation: pulse 1s infinite alternate;
    transition: all .5s;
    /* Animación constante */
}

.Button__calendario:hover {
    background-color: #064d6e;
    color: #ade8f4;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}





.info {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.item {
    display: flex;
    gap: 20px;
}

.beneficio__item {
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    border: dashed;
    color: blueviolet;
}

.description h3 {
    font-size: 1.1em;
    font-weight: 500;
}

.promocion__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    position: relative;
}

.promocion__contenedor img {
    width: 35vw;
}

.promocion__h2 {
    font-size: 3em;
    color: black;
    font-weight: 600;
}

.promocion__color {
    color: blueviolet;
}

.promocion__text button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.promocion__text button ion-icon {
    font-size: 1.1em;
}

.promocion__descuento {
    border-radius: 50%;
    background-color: blueviolet;
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 10vw;
    top: -5vh;
    border: #f5f5f5 4px solid;
}

.promocion__descuento h5 {
    font-weight: 600;
}

.banner__contenedor {
    height: 70vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.banner__contenedor h1,
h2 {
    color: #fff;
    font-weight: 600;
    font-size: 3em;
}

.banner__contenedor h1 span,
h2 {
    color: blueviolet;
}

.video__contenedor {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.video__text {
    height: 75%;
    width: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.video__h2 {
    color: black;
}

.video__color {
    color: blueviolet;
}

.video__contenedor video {
    height: 75%;
}

.noticias__contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.noticias__span {
    border-bottom: 3px solid blueviolet;
    height: 70px;
}

.noticias__text {
    font-weight: 300;
}

.noticas__carta {
    display: flex;
    gap: 80px;
}

.carta__contenedor {
    width: 25vw;
    height: 50vh;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3.5px 3.5px 0 4px #000000;
    border-top: #000000 solid 2px;
    border-left: #000000 solid 2px;
}

.carta__contenedor:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.carta__title {
    text-decoration: none;
    text-align: center;
    height: 60%;
    color: black;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.carta__title:hover {
    color: blueviolet;
}

.noticas__fecha {
    display: flex;
    align-items: center;
    gap: 5px;
}

.noticas__fecha p {
    margin: 0;
}

.noticas__fecha ion-icon {
    font-size: 1.1em;
}

.noticias__a {
    border-top: 1px solid gray;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-top: 5px;
}

.noticias__a:hover {
    color: blueviolet;
}

.noticias__btn {
    margin-top: 15px;
    text-align: center;
}

footer {
    height: 100vh;
    background-color: #051922;
    color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.footer__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.columna {
    width: 17%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.columna__title {
    font-weight: 600;
    font-size: 1.6em;
    padding-bottom: 20px;
}

.footer__redes {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 0 50px;
    border-top: #959595 1px solid;
    position: absolute;
    bottom: 0;
    ;
}

.contenedor__redes {
    display: flex;
}

.redes__items {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}

.redes__items a {
    color: white;
}

.redes {
    font-size: 1.3em;
}

.footer__color {
    text-decoration: none;
    color: blueviolet;
}

.footer__p {
    margin: 0;
}

.footer__textos {
    color: #959595;
    text-align: justify;
}

.footer__barra {
    border-bottom: 3px solid blueviolet;
    padding-bottom: 15px;
}

.explora__li {
    list-style: none;
}

.explora__ul {
    margin: 0;
    padding: 0;
}

.contenedor__envio {
    display: flex;
    gap: 6px;
}

.footer__input {
    background-color: #012738;
    border: none;
    height: 7vh;
    width: 75%;
    padding-left: 10px;
    border-radius: 3px;
    outline: none;
}

.envio__btn {
    background-color: #012738;
    border: none;
    width: 4vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper__btn {
    font-size: 1.5em;
    color: blueviolet;
    transition: .5s;
}

.envio__btn:hover {
    transition: .5s;
    background-color: blueviolet;
}

.envio__btn:hover .paper__btn {
    color: #012738;
}